#warning {
  margin-top: 15px;
  font-size: 18px;
  color: #b00000;
  letter-spacing: 1px;
  text-transform: lowercase;
  opacity: 0.8;
  text-shadow: 0 0 8px rgba(176, 0, 0, 0.6);
}
#title {
  margin-bottom: 20px;
  font-size: 48px;
  color: #8b0000;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-shadow:
    0 0 10px rgba(139, 0, 0, 0.8),
    0 0 25px rgba(139, 0, 0, 0.6);
}
#subtitle {
  margin-top: -10px;
  margin-bottom: 25px;
  font-size: 16px;
  font-variant: small-caps;
  letter-spacing: 2px;
  color: transparent;

  /* contour */
  -webkit-text-stroke: 1px #8b0000;
  text-stroke: 1px #8b0000;

  /* léger glow malsain */
  text-shadow: 0 0 6px rgba(139, 0, 0, 0.5);
  opacity: 0.85;
}
